<!-- INICIO SECCIÓN: restaurantes-section.html -->
<div class="subsection" id="restaurantes-section">
    <button class="close-btn" onclick="closeSubsection('restaurantes-section')">&times;</button>
    <h2 class="subsection-title" id="restaurantes-title">RESTAURANTES</h2>
    <div class="subsection-container">
        <!-- Aquí irán los restaurantes -->
        <div class="subsection-item">
            <img src="assets/images/restaurantes-section/la_tequila.jpg" alt="La Tequila Cocina de México León" class="subsection-img">
            <div class="subsection-content">
                <h3>La Tequila Cocina de México León</h3>
                <p id="orquesta-desc">Restaurante de cocina internacional con ambiente bohemio.</p>
            </div>
        </div>
        <div class="subsection-item">
            <img src="assets/images/restaurantes-section/amarello.jpg" alt="Amarello Campestre" class="subsection-img">
            <div class="subsection-content">
                <h3>Amarello Campestre</h3>
                <p id="boteria-desc">Tradicional cantina leonesa con platillos típicos y bebidas.</p>
            </div>
        </div>
        <div class="subsection-item">
            <img src="assets/images/restaurantes-section/gastro_bar.jpg" alt="Restaurante Bar Maria Luisa Gastro Bar" class="subsection-img">
            <div class="subsection-content">
                <h3>Restaurante Bar Maria Luisa Gastro Bar</h3>
                <p id="estancia-desc">Cálido bar de tapas con creativa oferta culinaria, ecléctica decoración con estilo rústico y aire relajado.</p>
            </div>
        </div>
        <div class="subsection-item">
            <img src="assets/images/restaurantes-section/campo_mar.png" alt="Campomar - Plaza Mayor" class="subsection-img">
            <div class="subsection-content">
                <h3>Campomar - Plaza Mayor</h3>
                <p id="marco-desc">Auténtica comida italiana con ingredientes importados.</p>
            </div>
        </div>
        <div class="subsection-item">
            <img src="assets/images/restaurantes-section/matgo.jpg" alt="Matgo BBQ" class="subsection-img">
            <div class="subsection-content">
                <h3>Matgo BBQ</h3>
                <p id="muladar-desc">Famoso por sus desayunos mexicanos y por su ambiente relajado.</p>
            </div>
        </div>
    </div>
</div>
<!-- FIN SECCIÓN: restaurantes-section.html -->