<!-- INICIO SECCIÓN: restaurantes-section.html -->
<div class="subsection" id="restaurantes-section" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/images/opciones-dashboard/leon.png') center/cover no-repeat;">
    <button class="close-btn" onclick="closeSubsection('restaurantes-section')">&times;</button>
    <h2 class="subsection-title" id="restaurantes-title">RESTAURANTES</h2>
    <div class="subsection-container">
        <!-- La Tequila -->
        <div class="subsection-item" onclick="loadAndShowContent('restaurantes', 'la-tequila')">
            <img src="assets/images/restaurantes-section/la_tequila.jpg" alt="La Tequila Cocina de México León" class="subsection-img">
        </div>
        <!-- Amarello -->
        <div class="subsection-item" onclick="loadAndShowContent('restaurantes', 'amarello')">
            <img src="assets/images/restaurantes-section/amarello.jpg" alt="Amarello Campestre" class="subsection-img">
        </div>
        <!-- Gastro Bar Maria Luisa -->
        <div class="subsection-item" onclick="loadAndShowContent('restaurantes', 'gastro-bar')">
            <img src="assets/images/restaurantes-section/gastro_bar.jpg" alt="Restaurante Bar Maria Luisa Gastro Bar" class="subsection-img">
        </div>
        <!-- Campomar -->
        <div class="subsection-item" onclick="loadAndShowContent('restaurantes', 'campomar')">
            <img src="assets/images/restaurantes-section/campo_mar.png" alt="Campomar - Plaza Mayor" class="subsection-img">
        </div>
        <!-- Matgo BBQ -->
        <div class="subsection-item" onclick="loadAndShowContent('restaurantes', 'matgo')">
            <img src="assets/images/restaurantes-section/matgo.jpg" alt="Matgo BBQ" class="subsection-img">
        </div>
    </div>
</div>
<!-- FIN SECCIÓN: restaurantes-section.html -->