<!-- INICIO SECCIÓN: saborea-section.html -->
<div class="subsection" id="saborea-section" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/images/opciones-dashboard/leon.png') center/cover no-repeat;">
    <button class="close-btn" onclick="closeSubsection('saborea-section')">&times;</button>
    <h2 class="subsection-title" id="saborea-title">SABOREA LEÓN</h2>
    <div class="secondary-buttons">
        <button class="secondary-btn" onclick="showSubsection('comida-tipica')" id="comida-tipica-btn">COMIDA
            TÍPICA</button>
        <button class="secondary-btn" onclick="showSubsection('restaurantes')"
            id="restaurantes-btn">RESTAURANTES</button>
    </div>
</div>
<!-- FIN SECCIÓN: saborea-section.html -->