body {
    background-color: aliceblue;
    font-family: "Nunito", sans-serif;
    font-style: normal;
}

.menu{
    background-color: aqua;
    display: flex;
}

.menu nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.contenedor-contenido{
    display: flex;
}


