<!-- INICIO COMPONENTE: loader.html -->
<div class="loader-container" id="loaderContainer">
    <div class="greeting-container">
        <h2 class="greeting">¡Hola! Acércate y habla conmigo</h2>
        <h2 class="greeting">Hi! Come closer and talk to me</h2>
        <h2 class="greeting">Salut ! Approche-toi et parle-moi</h2>
        <h2 class="greeting">Hallo! Komm näher und sprich mit mir</h2>
    </div>
    <div class="loader-wrapper">
        <div class="loader"></div>
        <div class="loading-text-container">
            <p class="loading-text">Cargando...</p>
            <p class="loading-text">Loading...</p>
            <p class="loading-text">Chargement...</p>
            <p class="loading-text">Wird geladen...</p>
        </div>
    </div>
</div>
<!-- FIN COMPONENTE: loader.html -->